<h1 class="text-5xl text-center text-teal-900 p-6">Sobre</h1>

<div class="w-full text-xl px-56 text-justify">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O Aprese foi desenvolvido por
    alunos da Faculdade de Tecnologia de Botucatu, cursando o 6º Ciclo de Analise e Desenvolvimento de Sistemas.
    O Objetivo desse programa é auxiliar o micro empreendedor a ter um melhor controle de estoque e vendas, assim
    como gerar relatórios detalhados sobre todo o setor financeiro. O Contabily tem também a função de cadastro
    de fornecedores, clientes e funcionários, possibilitando o controle de usuários e senhas de cada funcionario,
    assim como suas permissões dentro do sistema.</p><br/>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alunos participantes:<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bruno Lobo<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gabriel Pupim<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gustavo Berto<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pablo Rodrigues<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wallace Moura<br/>
    </p>

</div>
