<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div [routerLink]="['']" class="cursor-pointer flex items-center flex-shrink-0 text-white mr-6">
    <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44" height="44">
      <defs>
        <image width="40" height="40" id="img1" href="../../assets/logo.png"/>
      </defs>
      <style>
        tspan { white-space:pre }
      </style>
      <use id="Background" href="#img1" x="4" y="2" />
    </svg>
    <span class="font-semibold text-xl tracking-tight">Aprese</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="https://github.com/gabrielpda15/Aprese" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        GitHub
      </a>
      <a [routerLink]="['/about']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        Sobre
      </a>
    </div>
    <div>
      <p *ngIf="isLoggedIn()" class="inline-block text-white mt-4 text-sm px-4 py-2 leading-none">Bem vindo, {{session.Username}}</p>
      <a *ngIf="!isLoggedIn()" (click)="onLoginClick($event)" class="inline-block cursor-pointer text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
      <a *ngIf="isLoggedIn()" [routerLink]="['/system']" class="inline-block cursor-pointer text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Acesso ao Sistema</a>
    </div>
  </div>
</nav>

<app-login *ngIf="showLogin" (disabled)="onLoginDisable($event)"></app-login>

  <div *ngIf="router.url === '/'" class="hm-banner w-screen h-full bg-teal-200 py-16">
    <div class="text-center py-16">
        <h1 class="text-5xl text-teal-900 font-medium">Aprese</h1>
        <p class="text-xl text-teal-900 font-hairline py-2">Uma solução para auxiliar no gerenciamento de microempresas.</p>
    </div>
  </div>

<div id="content" class="flex-grow mx-auto p-8">

  <router-outlet></router-outlet>

</div>
<!-- w-screen text-center border-t h-full bg-teal-200 py-4 px-8 pin-b -->
<footer class="w-full text-center border-t border-teal bg-teal-100 p-4">
<p class="text-xs">O Aprese possui a <a href="https://github.com/gabrielpda15/Aprese/blob/master/LICENSE.md">GNU General Public License v2.0 License</a>.</p>
</footer>
