.hm-banner {
  background-color: rgba(235, 244, 255, 0.733) !important;
  /* background-image: url('../../assets/banner.jpg'); */
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
